---
import Layout from '../layouts/Layout.astro';
import Display from '../components/Display.svelte'

import InfoBanner from '../components/InfoBanner.svelte'
---

<Layout title="TextOverlay">
	<main>
		<InfoBanner heading={"Welcome to St. Mary's"} content={"God be with you."}/>
	</main>
</Layout>

<style>

</style>
